@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@material/typography/dist/mdc.typography.css";

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: 'Rubik', sans-serif;
}

.mdc-typography--headline2 {
  margin: 0;
}